#myDiv{
    margin-left: 58vh;
    margin-top: 0vh;
    height: 275px;
    width: 275px;
}
.input44{
    height: 31px !important;
}
.myLabel{
    font-size: 20px;
}
.clont {
    visibility: hidden;
}
#matr{
    visibility: hidden;
}
.legend1{
    font-size: 19px;
}
.legend2{
    height: 25px;
}